.App {
  text-align: center;
}

.nav-item-container {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}

.nav-bar {
  background-color: aliceblue;
  padding: 5px;
}

.nav-item{
  padding: 10px;
  text-decoration:none;
  cursor: pointer;
  &:hover{
    color: cadetblue;
  }
  & a:active{
    background-color: cadetblue;
  }
}

.seperator{
  color: gray;
}

.p-s{
  padding:10px;
}